<h1> SongList </h1>
<br>
<p> Welcome to SongList, where you
  <ul>
    <li> Save lyrics and chords for songs
    <li> Create setlists of songs for performance
    <li> Share your music for others to perform
  </ul>
</p>
<br>
<%= link_to "Sign up", signup_path %>
<%= link_to "Log in", login_path %>
<%= link_to "Log in with Google", '/auth/google_oauth2', method: :post %>