<br><h1>Share Setlist</h1><br>
<%= form_tag setlist_setlist_permissions_path do %>
    <label>User Email</label><br>
    <%= text_field_tag :user_email %><br>
    <br>
    <label>Permission Level</label><br>
    <%= select_tag(:permission, options_for_select([['view', 100], ['edit', 10], ['destroy', 0]])) %>
    <br>
    <br>
    <%= submit_tag "Submit" %>
<% end %>