<h1>Welcome <%= @user.display_name %></h1>

<% @setlists.each do |s| %>
    <%= link_to s.title, setlist_path(s) %> | <%= s.id %>
    <br>
  <% end %>

<%= link_to "Logout", logout_path, method: :delete %>