<h1>Edit Song</h1>
<br>
<%= render partial: "layouts/errors", locals: {object: @song} %>

<%= render 'form' %>

<%= button_to "Delete Song", song_path(@song), method: :delete, data: { confirm: "Would you like to delete this song? This cannot be undone." }, class:"delete-button"%>